<div style="padding: 20px; background-color: #3f51b5; height: 100%">
    <mat-card
      style="display: flex; flex-direction: column; margin: 100px auto; max-width: 500px; padding: 12px;"
    >
        <mat-card-header style="text-align: -webkit-center; justify-content: center;">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Forgot Password</mat-card-title>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
        </mat-card-header>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()"  style="display: flex; flex-direction: column;">
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Username or email" formControlName="email" />
            </mat-form-field>
      
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>password</mat-icon>
                <mat-label>OTP</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="otp" />
            </mat-form-field>
            @if(currentStep === ForgotPasswordSteps.RESET_PASSWORD) {
                <mat-form-field appearance="outline">
                    <mat-icon matSuffix>password</mat-icon>
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-icon matSuffix>password</mat-icon>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
                </mat-form-field>
            }
            <div class="split-button">
                <button mat-flat-button class="example-full-width">
                    {{currentStep === ForgotPasswordSteps.VERIFY_EMAIL ? 'Verify Email' : currentStep === ForgotPasswordSteps.SEND_OTP ? 'Send OTP' : currentStep === ForgotPasswordSteps.VERIFY_OTP ? 'Verify OTP' : 'Submit'}}
                </button>
                <button mat-stroked-button class="example-full-width" type="button" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </mat-card>
  </div>
  