.sidenav-container {
  height: calc(100vh - 64px);
  
}

mat-sidenav{
  background-color: aquamarine;
}
.colaps{
  width: 70px;
  .sidenav-header{
    > img {
      width: 45px;
      height: 45px;
    }
    .header-text{
      display: none;
    }
  }
}
.expand{
  width: 300px;
  .sidenav-header{
    > img {
      width: 100px;
      height: 100px;
    }
  }
}

.margin-colaps {
  margin-left: 70px !important;
}
.margin-expand {
  margin-left: 300px !important;
}

.sidenav-header {
  padding: 24px 0px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .header-text {
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    > p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}