<div class="dialog-header">
  <span class="spacer"></span>
  <h2 mat-dialog-title class="dialog-title">Add New Dropdown</h2>
  <button mat-icon-button (click)="close()" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
    <form [formGroup]="addDropdownForm" class="form-container">
      <div class="row-1">
        <mat-form-field>
          <mat-label>Dropdown Name</mat-label>
          <input matInput formControlName="dropdownName" />
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>
      <div formArrayName="dropdownValues">
        <div class="row-2">
          @for(value of dropdownValues.controls; track value; let idx = $index){
            <div>
              <mat-form-field>
                <mat-label>Dropdown Value</mat-label>
                <input matInput [formControlName]="idx" />
              </mat-form-field>
              <button type="button" mat-icon-button (click)="idx === dropdownValues.controls.length - 1 ? addDropdownValue() : removeDropdownValue(idx)" aria-label="Close">
                <mat-icon>{{idx === dropdownValues.controls.length - 1 ? 'add' : 'close'}}</mat-icon>
              </button>
            </div>
          }
        </div>
      </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <!-- <button mat-button>No Thanks</button> -->
  <button class="btn" mat-flat-button cdkFocusInitial (click)="submitData()">{{data.data ? 'Update' : 'Submit'}} </button>
</mat-dialog-actions>
