.btn {
    border-radius: 5px;
    height: 52px;
    background-color: #3f51b5;
}

button.edit {
  color: #3f51b5;
}
button.delete {
  color: #B00020;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.dsc-cell {
      width: 30%;
}

.wrapper {
padding: 20px;
}

.row {
    margin-bottom: 15px;
}

.action-cell {
  display: flex;
  align-items: center;
  .text{
    text-align: center;
  }
  .button {
    display: none;
  }
}

.mat-mdc-row:hover .mat-mdc-cell {
  .action-cell {
    display: flex;
    align-items: center;
    .text{
      text-align: center;
      opacity: 0.3;
    }
    .button {
      display: flex;
      position: absolute;
      right: 42px;
      z-index: 5;
    }
  }
}



